.class-modal {
    border-radius: 0px;
  }

.plus-sign{
    padding-top: 18px;
    width: 75px;
    height: 75px;
    color: #3333334a;
    transition: 0.5s ease-in-out; 
    display: inline-block;

}

  
  .plus-sign:hover {
    transform: translateY(-10px); 
  }
.plus-sign:hover{
    color: #ffab7b;
}