.class-modal {
    border-radius: 0px;
  }

.plus-sign{
    padding-top: 8px;
    padding-bottom: 5px;
    width: 60px;
    height: 60px;
    color: #ffa36d;
    transition: 0.5s ease-in-out; 
    display: inline-block;
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.046);
}

.plus-sign:hover {
  transform: translateY(-10px); 
}
.plus-sign:hover{
    color: #847bff;
}
.modal-content {
  border-radius: 0 !important;
}

.form-modal h2 {
  text-align: center;
  border-color: #ffab7b;
  border-width: 30px;
}
.form-modal {
  padding: 20px;
}

.class-modal{
  backdrop-filter: blur(10px);
  background-color: #34304348;
  /* background-color: #ffab7b; */
}

.radio-med-img{
  margin-right: 30px;
  padding: 5px;
  padding-bottom: 20px;
}

.button-modal{
  display: flex;
  justify-content: center;
}