.nvbar{
  /* background-color: rgba(215, 215, 226, 0.479); */
  background-color: rgb(248, 242, 239);
    position: sticky !important;
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.206);
}

.nvbar-logo {
    transition: 0.8s ease-in;
    font-weight: 900;
    background-image: linear-gradient(72deg, #5d55c2, #d98c5f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: logo-zoom 5s infinite alternate ease-in-out;
    text-shadow: 2px 2px 4px rgba(96, 94, 101, 0.244);
  }
  

.nvbar-link:hover{
    box-shadow: 0px 4px 0px 0px #6760cc;
    transition: 0.1s ease-in;
    color: #6760cc
}

@keyframes logo-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.20);
  }
  100% {
    transform: scale(1);
  }
}