@font-face {
	font-family: Alte Haas Grotesk Regular;
	src: url("../public/assets/AlteHaasGroteskRegular.ttf")
}
@font-face {
	font-family: Alte Haas Grotesk Bold;
	src: url("../public/assets/AlteHaasGroteskBold.ttf")
}

body {
	font-family: "Alte Haas Grotesk Regular";
    
}
.App {
    text-align: center;
  }

h1 {
  font-size: clamp(25px, 4vw, 30px);
}

h2 {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 900;
}

h3 {
    font-size: clamp(16px, 2vw, 16px);
    font-weight: 700;
}

p{
    font-size: clamp(14px, 2vw, 16px);
}

// home

.user-info {
    margin-top: 30px;
    background-color: #C6DEF1;
    background: url("https://cdn.shopify.com/s/files/1/0582/3453/6088/files/home-moonlight-background.webp?v=1680467003");
    border-radius: 0px;
    color: white;
    
}

//landing

.section-landing-360-container{
    width: 100%;
    height: 100%;
}

.button-landing {
    background-color:#847bff;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.693);
    transition: 0.5s ease-in;
  }
  .button-landing:hover {
    background-color: white;;
    color: #776ef5;
    border: #847bff;
  }

  //form
  .sign-form{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10%;
    padding: 25px;
  }
  
  .button-landing-form {
    background-color:#847bff;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.693);
    transition: 0.5s ease-in;
  }
  .button-landing-form:hover {
    background-color: #ffab7b;
    color: white;
  }
  
  //user
  
.section-user{
  background-image: url("../public/images/userbg.png");
  /*background-repeat: no-repeat;
  background-size: cover; /* or background-size: contain; 
  background-position: center; 
  width: 100%;
  height: 100%;*/
}

.image-user {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}

.form-user{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0%;
  padding: 25px;
  margin: 25px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  border: 30px;
}


//medication details
.section-med-details{
  background-image: url("../public/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  width: 100%;
  height: 100%;
}

