.medication-grid-container {
background: yellow;
min-height:75vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
padding: 1rem;
overflow-y: scroll;
}

.card-wrapper {
  height: 23rem;
  width: 17rem;
  position: relative;
  background: var(--color);
}

.card-wrapper::before{
  content: '';
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../../../public/images/bg1.jpg');
}